<a href="https://colab.research.google.com/github/raina02/InternshipStudio_Project/blob/master/Project_cars.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Car Features and MSRP**

# 1.Uploading the dataset

Using files.upload() directly in the Colab notebook gives you a traditional upload button that allows you to move files from your computer into to the Colab environment.

In [4]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data.csv

## Importing the required Libraries

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt                   ##Visualisation
import seaborn as sns                             ## Visualisation
%matplotlib inline

###1.1 Loading the data into Data frame

In [7]:
import io
df = pd.read_csv(io.BytesIO(uploaded['data.csv']))

In [8]:
## To display the top 10 rows
df.head(10)

  Make       Model  Year  ... city mpg  Popularity   MSRP
0  BMW  1 Series M  2011  ...       19        3916  46135
1  BMW    1 Series  2011  ...       19        3916  40650
2  BMW    1 Series  2011  ...       20        3916  36350
3  BMW    1 Series  2011  ...       18        3916  29450
4  BMW    1 Series  2011  ...       18        3916  34500
5  BMW    1 Series  2012  ...       18        3916  31200
6  BMW    1 Series  2012  ...       17        3916  44100
7  BMW    1 Series  2012  ...       20        3916  39300
8  BMW    1 Series  2012  ...       18        3916  36900
9  BMW    1 Series  2013  ...       18        3916  37200

[10 rows x 16 columns]

In [9]:
## To display the bottom 10 rows
df.tail(10)

          Make   Model  Year  ... city mpg  Popularity    MSRP
11904      BMW      Z8  2002  ...       12        3916  130000
11905      BMW      Z8  2003  ...       12        3916  131500
11906    Acura     ZDX  2011  ...       16         204   46020
11907    Acura     ZDX  2011  ...       16         204   56570
11908    Acura     ZDX  2011  ...       16         204   50520
11909    Acura     ZDX  2012  ...       16         204   46120
11910    Acura     ZDX  2012  ...       16         204   56670
11911    Acura     ZDX  2012  ...       16         204   50620
11912    Acura     ZDX  2013  ...       16         204   50920
11913  Lincoln  Zephyr  2006  ...       17          61   28995

[10 rows x 16 columns]

In [11]:
## To get an estimate of the total data file.
df.shape

(11914, 16)

###1.2 Checking the Data types of data and Statistics Summary

In [12]:
## To get the data types of different columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [13]:
## Describes the dataset
df.describe()

               Year    Engine HP  ...    Popularity          MSRP
count  11914.000000  11845.00000  ...  11914.000000  1.191400e+04
mean    2010.384338    249.38607  ...   1554.911197  4.059474e+04
std        7.579740    109.19187  ...   1441.855347  6.010910e+04
min     1990.000000     55.00000  ...      2.000000  2.000000e+03
25%     2007.000000    170.00000  ...    549.000000  2.100000e+04
50%     2015.000000    227.00000  ...   1385.000000  2.999500e+04
75%     2016.000000    300.00000  ...   2009.000000  4.223125e+04
max     2017.000000   1001.00000  ...   5657.000000  2.065902e+06

[8 rows x 8 columns]

In [14]:
##Correlation between columns
df.corr()

                      Year  Engine HP  ...  Popularity      MSRP
Year              1.000000   0.351794  ...    0.073049  0.227590
Engine HP         0.351794   1.000000  ...    0.037501  0.662008
Engine Cylinders -0.041479   0.779988  ...    0.041145  0.531312
Number of Doors   0.263787  -0.102713  ...   -0.048272 -0.126635
highway MPG       0.258240  -0.406563  ...   -0.020991 -0.160043
city mpg          0.198171  -0.439371  ...   -0.003217 -0.157676
Popularity        0.073049   0.037501  ...    1.000000 -0.048476
MSRP              0.227590   0.662008  ...   -0.048476  1.000000

[8 rows x 8 columns]

In [15]:
## Covariance
df.cov()

                           Year     Engine HP  ...    Popularity          MSRP
Year                  57.452457  2.915880e+02  ...  7.983461e+02  1.036924e+05
Engine HP            291.588019  1.192286e+04  ...  5.891934e+03  4.355284e+06
Engine Cylinders      -0.560066  1.493382e+02  ...  1.057135e+02  5.693262e+04
Number of Doors        1.762368 -9.892033e+00  ... -6.135446e+01 -6.704131e+03
highway MPG           17.348355 -3.429488e+02  ... -2.682478e+02 -8.526226e+04
city mpg              13.500413 -3.408537e+02  ... -4.168582e+01 -8.518407e+04
Popularity           798.346061  5.891934e+03  ...  2.078947e+06 -4.201369e+06
MSRP              103692.370363  4.355284e+06  ... -4.201369e+06  3.613104e+09

[8 rows x 8 columns]

In [16]:
##Mean MSRP
df['MSRP'].mean()

40594.737032063116

#2. Dropping Irrelevant Columns from the dataset

This step is required in Exploratory data Analysis as there are columns that we never use and in such cases dropping them will be useful.